<div class="footer_section block_container">
    <div class="social_media_icons">
        <a href=""><img src="../../assets/facebook.png" alt=""></a>
        <a href=""><img src="../../assets/instagram.png" alt=""></a>
        <a href=""><img src="../../assets/youtube.png" alt=""></a>
        <a href=""><img src="../../assets/twitter.png" alt=""></a>
        <a href=""><img src="../../assets/linkedin.png" alt=""></a>
    </div>
    <div class="copyrights_text">
        <p>Aster CMI. All Rights Reserved</p>
    </div>
</div>