/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

.block_container {
  padding: 0 150px;
}


button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
}

.row-b {
  display: flex;
}

.row-vrt-c {
  display: flex;
  align-items: center;
}

.row-spb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-expansion-panel-header-title {
  color: #1d5aa6;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.mat-expansion-panel-body {
  p {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    line-height: 30px;
  }
}

// OWL carousel // 
.owl-carousel {
  width: 95% !important;
  margin: 6% auto;

  .owl-nav {
    overflow: hidden;
    height: 0px;
  }

  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 30% !important;
  }

  .owl-prev.disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  // .prev-slide {
  // 	background: url(./assets/previous.png) no-repeat scroll 0 0;
  // 	left: -33px;
  // 	&:hover {
  // 		background-position: 0px -53px;
  // 	}
  // }
  // .next-slide {
  // 	background: url(./assets/next.png) no-repeat scroll -24px 0px;
  // 	right: -33px;
  // 	&:hover {
  // 		background-position: -24px -53px;
  // 	}
  // }
}

@media(max-width: 1100px) {
  .block_container {
    padding:0 40px;
  }
  .category_sec {
    margin-right: 20px;
  }
}
