<div>
    <!-- Banner Section -->
    <div class="banner_img block_container">
        <div class="row-spb">
            <div>
                <div class="logo_section">
                    <img src="../../assets/Aster_logo_white.png" alt="Aster_logo_white">
                </div>
                <div class="banner_text">
                    <h2 class="hdr_text">ADULT & PAEDIATRIC BONE MARROW <br> TRANSPLANT PROGRAMME</h2>
                    <p>Hematology | Oncology | Immunology</p>
                    <button>Book An Appoinment</button>
                </div>
            </div>
            <div class="enquire_section">
                <div class="form_field_hdr">
                    <h4>Enquire now</h4>
                </div>
                <div class="form_fields">
                    <input class="input_field" type="text" placeholder="Name">
                    <input class="input_field" type="email" placeholder="Email">
                    <input class="input_field" type="tel" placeholder="Phone number">
                    <textarea class="input_field" placeholder="Your Message"></textarea>
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div> 
    <div class="block_container">
        <!-- Second section -->
        <div class="transplant_sec row-b">
            <div class="transplant_img">
                <img src="../../assets/transplant.png" alt="transplant">
            </div>
            <div>
                <div class="gradient_cell">
                    <p>Bone Marrow Transplant (BMT) better known as haematopoietic stem cell transplant(HSCT) as bone marrow cells are transplanted</p> 
                </div>
                <div class="transplant_text">
                    <ul>
                        <li>Replacement of diseased or defective marrow with marrow from a healthy donor</li>
                        <li>Medicines and in certain situations radiotherapy as well is given to get rid of diseased marrow and bone marrow cells from healthy donor is given to replace it.</li>
                        <li>IN autologous bone marrow transplant, high dose chemotherapy is given to kill cancer cells and child own marrow cells are given back</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Doctors Section -->
        <div class="doctors_sec">
            <h2 class="hdr_text">Doctors</h2>
            <div class="row-spb">
                <div class="category_sec">
                    <h3>Pediatric BMT</h3>
                    <div class="dctr_info">
                        <img src="../../assets/bitmap-person.png" alt="bitmap-person">
                        <h4>Dr. Vijay Agarwal</h4>
                        <h6>MD, MRCP, PhD,CCT <br> Lead & Sr. Consultant - Medical Oncology & Haematology</h6>
                        <p>Dr. Vijay Agarwal is a Senior Consultant Medical Oncologist with over 12 years of experience in Oncology. Dr. Agarwal has been practising Medical Oncology since 2004.</p>
                        <button>Know more</button>
                    </div>
                    <div class="divider_line"></div>
                    <div class="dctr_info">
                        <img src="../../assets/bitmap-person.png" alt="bitmap-person">
                        <h4>Dr. Vijay Agarwal</h4>
                        <h6>MD, MRCP, PhD,CCT <br> Lead & Sr. Consultant - Medical Oncology & Haematology</h6>
                        <p>Dr. Vijay Agarwal is a Senior Consultant Medical Oncologist with over 12 years of experience in Oncology. Dr. Agarwal has been practising Medical Oncology since 2004.</p>
                        <button>Know more</button>
                    </div>
                </div>
                <div class="category_sec">
                    <h3>Adult BMT </h3>
                    <div class="dctr_info">
                        <div class="dctr_info">
                            <img src="../../assets/bitmap-person.png" alt="bitmap-person">
                            <h4>Dr. Vijay Agarwal</h4>
                            <h6>MD, MRCP, PhD,CCT <br> Lead & Sr. Consultant - Medical Oncology & Haematology</h6>
                            <p>Dr. Vijay Agarwal is a Senior Consultant Medical Oncologist with over 12 years of experience in Oncology. Dr. Agarwal has been practising Medical Oncology since 2004.</p>
                            <button>Know more</button>
                        </div>
                        <div class="divider_line"></div>
                        <div class="dctr_info">
                            <img src="../../assets/bitmap-person.png" alt="bitmap-person">
                            <h4>Dr. Vijay Agarwal</h4>
                            <h6>MD, MRCP, PhD,CCT <br> Lead & Sr. Consultant - Medical Oncology & Haematology</h6>
                            <p>Dr. Vijay Agarwal is a Senior Consultant Medical Oncologist with over 12 years of experience in Oncology. Dr. Agarwal has been practising Medical Oncology since 2004.</p>
                            <button>Know more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Types Section-->
        <div class="types_sec">
            <h2 class="hdr_text">What are the types of Bone Marrow Transplant?</h2>
            <div class="types_text">
                <ul>
                    <li class="row-b"><span class="plus_icon"></span>Autologous Bone Marrow Transplant - Marrow cells are collected from the patient’s own body and transfused back after high dose chemotherapy.</li>
                    <li class="row-b"><span class="plus_icon"></span>Allogenic Bone Marrow Transplant (Matched Sibling Donor) – Replacement of diseased or defective marrow with marrow from a genetically (HLA) matched sibling donor. </li>
                    <li class="row-b"><span class="plus_icon"></span> Allogenic Bone Marrow Transplant (Matched Unrelated Donor) – Replacement of diseased or defective marrow with marrow from a genetically (HLA) matched donor obtained from bone marrow registries in India and abroad.</li>
                    <li class="row-b"><span class="plus_icon"></span>Haplo-Identical Bone Marrow Transplant - Replacement of diseased or defective marrow with marrow from the parent.</li>
                    <li class="row-b"><span class="plus_icon"></span>Umbilical cord Bone Marrow Transplant - Replacement of diseased or defective marrow with marrow from a genetically (HLA) matched umbilical cord donor obtained from umbilical cord registries in India and abroad.</li>
                </ul>
            </div>
        </div>
        <!-- Warning signs -->
        <div>
            <h2 class="hdr_text">The warning signs of Immune deficiency</h2>
            <div class="warning_sec">
                <ul>
                    <li *ngFor="let item of warningList">
                        <img src="../../assets/{{item.img}}" alt="{{item.img}}">
                        <p>{{item.text}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Expansion Section -->
        <div class="expansion_sec">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let txt of expansionList" hideToggle="true" #ref>
                    <mat-expansion-panel-header class="expansion_height">
                    <mat-panel-title class="row-spb">
                        {{txt.header}}
                        <div>
                            <img src="../../assets/down-arrow.png" alt="" [ngClass]="{'rotate-class': ref.expanded}">
                        </div>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>BMT is the treatment of choice for blood disorders like Thalassemia, Sickle Cell anemia, bone marrow failure syndromes like Aplastic anemia, serious immune deficiencies and certain genetic metabolic disorders.</p>
                    <p>It is also used to treat high risk cancers like some cases of Acute Lymphoblastic Leukemia, Acute Myeloid Leukemia, Multiple Myeloma and solid tumours like Neuroblastoma, Ewings Sarcoma and certain relapsed cancers like Lymphomas</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <!-- Testimonials -->
        <div class="testi_sec">
            <div>
                <h2 class="hdr_text">Testimonials</h2>
                <p class="tsmnl_sub_hdr">It is a long established fact that a reader will be distracted by the readable content of a page <br> when looking at its layout.</p>
            </div>
            <owl-carousel [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']"> <!--[items]="images"-->
                <!-- <div class="item" *ngFor="let image of imagesList;let i= index">
                    <img class="slide-image" src="{{image.image}}" >
                    <div class="slide-text">
                    <h4>{{image.text}}</h4>
                    </div>
                </div> -->
                <div class="tstmnl_slider item" *ngFor="let slider of sliderList;let i= index">
                    <div class="row-spb">
                        <div class="row-vrt-c">
                            <div>
                                <img src="../../assets/bitmap-person2.png" alt="">
                            </div>
                            <div class="tstmnl_info">
                                <h6>{{slider.name}}</h6>
                                <p>{{slider.designation}}</p>
                            </div>
                        </div>
                        <div>
                            <img src="../../assets/quotes.png" alt="">
                        </div>
                    </div>
                    <div>
                        <p class="italic_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </owl-carousel>
        </div>
        <div class="text_center">
            <button class="book_app_btn">Book An Appoinment</button>
        </div>
    </div>
    
</div>
